body {
    font-family: sans-serif;
    background-color: #A7DDFA;
    color: #091C26;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex: 0 100%;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0 30px 0;
}

header h1 {
    margin: 0 30px;
}

header h2 {
    margin: 0 25px;
}

.card {
    background-color: #3DACE8;
    color: white;
    border: solid 3px #091C26;
    width: 70%;
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    font-size: 18px;
}

.card iframe {
    width: 70%;
    height: 60vh;
}

.main-image {
    margin: 30px 30px 30px 30px;
    width: 70%;
    flex: 1 70%;
    border-radius: 15px;
    
}

.link-box {
    font-weight: bold;
}

.text {
    margin: 15px;
}

.like-set img {
    margin: 15px;
    width: 30px;
}

#like-icon {
    transform: rotate(180deg);
}